.blackbg { background-color: black; }
.blacktext { color: black; }
.silverbg { background-color: silver; }
.silvertext { color: silver; }
.graybg { background-color: gray; }
.graytext { color: gray; }
.whitebg { background-color: white; }
.whitetext { color: white; }
.maroonbg { background-color: maroon; }
.maroontext { color: maroon; }
.redbg { background-color: red; }
.redtext { color: red; }
.purplebg { background-color: purple; }
.purpletext { color: purple; }
.fuchsiabg { background-color: fuchsia; }
.fuchsiatext { color: fuchsia; }
.greenbg { background-color: green; }
.greentext { color: green; }
.limebg { background-color: lime; }
.limetext { color: lime; }
.olivebg { background-color: olive; }
.olivetext { color: olive; }
.yellowbg { background-color: yellow; }
.yellowtext { color: yellow; }
.navybg { background-color: navy; }
.navytext { color: navy; }
.bluebg { background-color: blue; }
.bluetext { color: blue; }
.tealbg { background-color: teal; }
.tealtext { color: teal; }
.aquabg { background-color: aqua; }
.aquatext { color: aqua; }
.alicebluebg { background-color: aliceblue; }
.alicebluetext { color: aliceblue; }
.antiquewhitebg { background-color: antiquewhite; }
.antiquewhitetext { color: antiquewhite; }
.aquabg { background-color: aqua; }
.aquatext { color: aqua; }
.aquamarinebg { background-color: aquamarine; }
.aquamarinetext { color: aquamarine; }
.azurebg { background-color: azure; }
.azuretext { color: azure; }
.beigebg { background-color: beige; }
.beigetext { color: beige; }
.bisquebg { background-color: bisque; }
.bisquetext { color: bisque; }
.blackbg { background-color: black; }
.blacktext { color: black; }
.blanchedalmondbg { background-color: blanchedalmond; }
.blanchedalmondtext { color: blanchedalmond; }
.bluebg { background-color: blue; }
.bluetext { color: blue; }
.bluevioletbg { background-color: blueviolet; }
.blueviolettext { color: blueviolet; }
.brownbg { background-color: brown; }
.browntext { color: brown; }
.burlywoodbg { background-color: burlywood; }
.burlywoodtext { color: burlywood; }
.cadetbluebg { background-color: cadetblue; }
.cadetbluetext { color: cadetblue; }
.chartreusebg { background-color: chartreuse; }
.chartreusetext { color: chartreuse; }
.chocolatebg { background-color: chocolate; }
.chocolatetext { color: chocolate; }
.coralbg { background-color: coral; }
.coraltext { color: coral; }
.cornflowerbluebg { background-color: cornflowerblue; }
.cornflowerbluetext { color: cornflowerblue; }
.cornsilkbg { background-color: cornsilk; }
.cornsilktext { color: cornsilk; }
.crimsonbg { background-color: crimson; }
.crimsontext { color: crimson; }
.cyanbg { background-color: cyan; }
.cyantext { color: cyan; }
.darkbluebg { background-color: darkblue; }
.darkbluetext { color: darkblue; }
.darkcyanbg { background-color: darkcyan; }
.darkcyantext { color: darkcyan; }
.darkgoldenrodbg { background-color: darkgoldenrod; }
.darkgoldenrodtext { color: darkgoldenrod; }
.darkgraybg { background-color: darkgray; }
.darkgraytext { color: darkgray; }
.darkgreenbg { background-color: darkgreen; }
.darkgreentext { color: darkgreen; }
.darkgreybg { background-color: darkgrey; }
.darkgreytext { color: darkgrey; }
.darkkhakibg { background-color: darkkhaki; }
.darkkhakitext { color: darkkhaki; }
.darkmagentabg { background-color: darkmagenta; }
.darkmagentatext { color: darkmagenta; }
.darkolivegreenbg { background-color: darkolivegreen; }
.darkolivegreentext { color: darkolivegreen; }
.darkorangebg { background-color: darkorange; }
.darkorangetext { color: darkorange; }
.darkorchidbg { background-color: darkorchid; }
.darkorchidtext { color: darkorchid; }
.darkredbg { background-color: darkred; }
.darkredtext { color: darkred; }
.darksalmonbg { background-color: darksalmon; }
.darksalmontext { color: darksalmon; }
.darkseagreenbg { background-color: darkseagreen; }
.darkseagreentext { color: darkseagreen; }
.darkslatebluebg { background-color: darkslateblue; }
.darkslatebluetext { color: darkslateblue; }
.darkslategraybg { background-color: darkslategray; }
.darkslategraytext { color: darkslategray; }
.darkslategreybg { background-color: darkslategrey; }
.darkslategreytext { color: darkslategrey; }
.darkturquoisebg { background-color: darkturquoise; }
.darkturquoisetext { color: darkturquoise; }
.darkvioletbg { background-color: darkviolet; }
.darkviolettext { color: darkviolet; }
.deeppinkbg { background-color: deeppink; }
.deeppinktext { color: deeppink; }
.deepskybluebg { background-color: deepskyblue; }
.deepskybluetext { color: deepskyblue; }
.dimgraybg { background-color: dimgray; }
.dimgraytext { color: dimgray; }
.dimgreybg { background-color: dimgrey; }
.dimgreytext { color: dimgrey; }
.dodgerbluebg { background-color: dodgerblue; }
.dodgerbluetext { color: dodgerblue; }
.firebrickbg { background-color: firebrick; }
.firebricktext { color: firebrick; }
.floralwhitebg { background-color: floralwhite; }
.floralwhitetext { color: floralwhite; }
.forestgreenbg { background-color: forestgreen; }
.forestgreentext { color: forestgreen; }
.fuchsiabg { background-color: fuchsia; }
.fuchsiatext { color: fuchsia; }
.gainsborobg { background-color: gainsboro; }
.gainsborotext { color: gainsboro; }
.ghostwhitebg { background-color: ghostwhite; }
.ghostwhitetext { color: ghostwhite; }
.goldbg { background-color: gold; }
.goldtext { color: gold; }
.goldenrodbg { background-color: goldenrod; }
.goldenrodtext { color: goldenrod; }
.graybg { background-color: gray; }
.graytext { color: gray; }
.greenbg { background-color: green; }
.greentext { color: green; }
.greenyellowbg { background-color: greenyellow; }
.greenyellowtext { color: greenyellow; }
.greybg { background-color: grey; }
.greytext { color: grey; }
.honeydewbg { background-color: honeydew; }
.honeydewtext { color: honeydew; }
.hotpinkbg { background-color: hotpink; }
.hotpinktext { color: hotpink; }
.indianredbg { background-color: indianred; }
.indianredtext { color: indianred; }
.indigobg { background-color: indigo; }
.indigotext { color: indigo; }
.ivorybg { background-color: ivory; }
.ivorytext { color: ivory; }
.khakibg { background-color: khaki; }
.khakitext { color: khaki; }
.lavenderbg { background-color: lavender; }
.lavendertext { color: lavender; }
.lavenderblushbg { background-color: lavenderblush; }
.lavenderblushtext { color: lavenderblush; }
.lawngreenbg { background-color: lawngreen; }
.lawngreentext { color: lawngreen; }
.lemonchiffonbg { background-color: lemonchiffon; }
.lemonchiffontext { color: lemonchiffon; }
.lightbluebg { background-color: lightblue; }
.lightbluetext { color: lightblue; }
.lightcoralbg { background-color: lightcoral; }
.lightcoraltext { color: lightcoral; }
.lightcyanbg { background-color: lightcyan; }
.lightcyantext { color: lightcyan; }
.lightgoldenrodyellowbg { background-color: lightgoldenrodyellow; }
.lightgoldenrodyellowtext { color: lightgoldenrodyellow; }
.lightgraybg { background-color: lightgray; }
.lightgraytext { color: lightgray; }
.lightgreenbg { background-color: lightgreen; }
.lightgreentext { color: lightgreen; }
.lightgreybg { background-color: lightgrey; }
.lightgreytext { color: lightgrey; }
.lightpinkbg { background-color: lightpink; }
.lightpinktext { color: lightpink; }
.lightsalmonbg { background-color: lightsalmon; }
.lightsalmontext { color: lightsalmon; }
.lightseagreenbg { background-color: lightseagreen; }
.lightseagreentext { color: lightseagreen; }
.lightskybluebg { background-color: lightskyblue; }
.lightskybluetext { color: lightskyblue; }
.lightslategraybg { background-color: lightslategray; }
.lightslategraytext { color: lightslategray; }
.lightslategreybg { background-color: lightslategrey; }
.lightslategreytext { color: lightslategrey; }
.lightsteelbluebg { background-color: lightsteelblue; }
.lightsteelbluetext { color: lightsteelblue; }
.lightyellowbg { background-color: lightyellow; }
.lightyellowtext { color: lightyellow; }
.limebg { background-color: lime; }
.limetext { color: lime; }
.limegreenbg { background-color: limegreen; }
.limegreentext { color: limegreen; }
.linenbg { background-color: linen; }
.linentext { color: linen; }
.magentabg { background-color: magenta; }
.magentatext { color: magenta; }
.maroonbg { background-color: maroon; }
.maroontext { color: maroon; }
.mediumaquamarinebg { background-color: mediumaquamarine; }
.mediumaquamarinetext { color: mediumaquamarine; }
.mediumbluebg { background-color: mediumblue; }
.mediumbluetext { color: mediumblue; }
.mediumorchidbg { background-color: mediumorchid; }
.mediumorchidtext { color: mediumorchid; }
.mediumpurplebg { background-color: mediumpurple; }
.mediumpurpletext { color: mediumpurple; }
.mediumseagreenbg { background-color: mediumseagreen; }
.mediumseagreentext { color: mediumseagreen; }
.mediumslatebluebg { background-color: mediumslateblue; }
.mediumslatebluetext { color: mediumslateblue; }
.mediumspringgreenbg { background-color: mediumspringgreen; }
.mediumspringgreentext { color: mediumspringgreen; }
.mediumturquoisebg { background-color: mediumturquoise; }
.mediumturquoisetext { color: mediumturquoise; }
.mediumvioletredbg { background-color: mediumvioletred; }
.mediumvioletredtext { color: mediumvioletred; }
.midnightbluebg { background-color: midnightblue; }
.midnightbluetext { color: midnightblue; }
.mintcreambg { background-color: mintcream; }
.mintcreamtext { color: mintcream; }
.mistyrosebg { background-color: mistyrose; }
.mistyrosetext { color: mistyrose; }
.moccasinbg { background-color: moccasin; }
.moccasintext { color: moccasin; }
.navajowhitebg { background-color: navajowhite; }
.navajowhitetext { color: navajowhite; }
.navybg { background-color: navy; }
.navytext { color: navy; }
.oldlacebg { background-color: oldlace; }
.oldlacetext { color: oldlace; }
.olivebg { background-color: olive; }
.olivetext { color: olive; }
.olivedrabbg { background-color: olivedrab; }
.olivedrabtext { color: olivedrab; }
.orangebg { background-color: orange; }
.orangetext { color: orange; }
.orangeredbg { background-color: orangered; }
.orangeredtext { color: orangered; }
.orchidbg { background-color: orchid; }
.orchidtext { color: orchid; }
.palegoldenrodbg { background-color: palegoldenrod; }
.palegoldenrodtext { color: palegoldenrod; }
.palegreenbg { background-color: palegreen; }
.palegreentext { color: palegreen; }
.paleturquoisebg { background-color: paleturquoise; }
.paleturquoisetext { color: paleturquoise; }
.palevioletredbg { background-color: palevioletred; }
.palevioletredtext { color: palevioletred; }
.papayawhipbg { background-color: papayawhip; }
.papayawhiptext { color: papayawhip; }
.peachpuffbg { background-color: peachpuff; }
.peachpufftext { color: peachpuff; }
.perubg { background-color: peru; }
.perutext { color: peru; }
.pinkbg { background-color: pink; }
.pinktext { color: pink; }
.plumbg { background-color: plum; }
.plumtext { color: plum; }
.powderbluebg { background-color: powderblue; }
.powderbluetext { color: powderblue; }
.purplebg { background-color: purple; }
.purpletext { color: purple; }
.redbg { background-color: red; }
.redtext { color: red; }
.rosybrownbg { background-color: rosybrown; }
.rosybrowntext { color: rosybrown; }
.royalbluebg { background-color: royalblue; }
.royalbluetext { color: royalblue; }
.saddlebrownbg { background-color: saddlebrown; }
.saddlebrowntext { color: saddlebrown; }
.salmonbg { background-color: salmon; }
.salmontext { color: salmon; }
.sandybrownbg { background-color: sandybrown; }
.sandybrowntext { color: sandybrown; }
.seagreenbg { background-color: seagreen; }
.seagreentext { color: seagreen; }
.seashellbg { background-color: seashell; }
.seashelltext { color: seashell; }
.siennabg { background-color: sienna; }
.siennatext { color: sienna; }
.silverbg { background-color: silver; }
.silvertext { color: silver; }
.skybluebg { background-color: skyblue; }
.skybluetext { color: skyblue; }
.slatebluebg { background-color: slateblue; }
.slatebluetext { color: slateblue; }
.slategraybg { background-color: slategray; }
.slategraytext { color: slategray; }
.slategreybg { background-color: slategrey; }
.slategreytext { color: slategrey; }
.snowbg { background-color: snow; }
.snowtext { color: snow; }
.springgreenbg { background-color: springgreen; }
.springgreentext { color: springgreen; }
.steelbluebg { background-color: steelblue; }
.steelbluetext { color: steelblue; }
.tanbg { background-color: tan; }
.tantext { color: tan; }
.tealbg { background-color: teal; }
.tealtext { color: teal; }
.thistlebg { background-color: thistle; }
.thistletext { color: thistle; }
.tomatobg { background-color: tomato; }
.tomatotext { color: tomato; }
.turquoisebg { background-color: turquoise; }
.turquoisetext { color: turquoise; }
.violetbg { background-color: violet; }
.violettext { color: violet; }
.wheatbg { background-color: wheat; }
.wheattext { color: wheat; }
.whitebg { background-color: white; }
.whitetext { color: white; }
.whitesmokebg { background-color: whitesmoke; }
.whitesmoketext { color: whitesmoke; }
.yellowbg { background-color: yellow; }
.yellowtext { color: yellow; }
.yellowgreenbg { background-color: yellowgreen; }
.yellowgreentext { color: yellowgreen; }
.rainbowbg {
    animation: rainbowbg 1s infinite;
}
.rainbowtext {
    animation: rainbowtext 1s infinite;
}
@keyframes rainbowbg {
    0% { background-color: red; }
    14% { background-color: orange; }
    28% { background-color: yellow; }
    42% { background-color: green; }
    57% { background-color: blue; }
    71% { background-color: indigo; }
    85% { background-color: violet; }
    100% { background-color: red; }
}
@keyframes rainbowtext {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}